<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if flash[:errors] %>
    <ul class="errors">
      <h2>Uh oh, something has gone wrong!</h2>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul> 
    <% end %>

<%= yield %>

</body>
</html>
